#form{
    width: 500px;
    color: blue;
    height: 400px;
    padding: 20px;
    border: 3px solid #19d4fc;
    border-radius: 25px;
    margin: 650px;
    margin-top: 10px;
    font-size: 20px;
}

h2{
    color: chocolate;
    margin: 100px 650px 10px 700px;
    padding-top: 50px;
   
}

body{
    background-image: url('./images/motor5.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.form{
    margin-top: 200px;
}